body {
    overflow: hidden;

    height: 100%;
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
    width: 100%;
    height: 100%
}
